<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!--<a routerLink="/homepage" class="navbar-brand"><img id="logo" src="../assets/images/logo.jpg"></a>-->
      <a class="navbar-brand" routerLink="/homepage">Ecommerce</a>
      <select [(ngModel)]="category" id="category" (change)="onChange($event)">Catogory
        <option value=""  selected>All Categories</option>
        <option *ngFor="let category of categoryList" [value]="category._id">{{category.name}}</option>
      </select>
    </div>
    <form class="navbar-form navbar-left" method="post" action="/search">
      <div class="form-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="authGuard.isloggedin()"><a class="dropdown-toggle" data-toggle="dropdown" routerLink="/admin">Admin</a>
        <!--<ul class="dropdown-menu">-->
          <!--<li><a routerLink="/signup">Signup</a></li>-->
          <!--<li><a href="/login">Login</a></li>-->
        <!--</ul>-->
      </li>
      <li *ngIf="!authGuard.isloggedin()"><a class="dropdown-toggle" data-toggle="dropdown" routerLink="/login">Login</a>
        <!--<ul class="dropdown-menu">-->
        <!--<li><a routerLink="/signup">Signup</a></li>-->
        <!--<li><a href="/login">Login</a></li>-->
        <!--</ul>-->
      </li>


      <li *ngIf="authGuard.isloggedin()"><a class="dropdown-toggle" data-toggle="dropdown" routerLink="/profile">Profile</a>
        <!--<ul class="dropdown-menu">-->
          <!--<li><a href="/profile">Profile</a></li>-->
          <!--<li><a href="/logout">Logout</a></li>-->
        <!--</ul>-->
      </li>

      <li *ngIf="authGuard.isloggedin()"><a class="dropdown-toggle" data-toggle="dropdown" (click)="logout()" style="pointer:cursor">Logout</a>
        <!--<ul class="dropdown-menu">-->
        <!--<li><a href="/profile">Profile</a></li>-->
        <!--<li><a href="/logout">Logout</a></li>-->
        <!--</ul>-->
      </li>
      <li *ngIf="authGuard.isloggedin()" routerLink="/cart"><a class="glyphicon glyphicon-shopping-cart"><span class="badge">{{noOfItemsInCart}}</span></a></li>
      </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>



